<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <!--<add name="MRPS_db" connectionString="Data Source=msi-jumee;Initial Catalog=MRPS;User ID=try;Password=123;"/>-->
    <add name="MRPS_db" connectionString="Data Source=DESKTOP-VRA4PBR\SQLEXPRESS;Initial Catalog=MRPS;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>