<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
  
  <connectionStrings>
    
    <add name="MRPS_db" connectionString="Data Source=msi-jumee;Initial Catalog=MRPS;User ID=try;Password=123;"/>
    <!--<add name="MRPS_db" connectionString="Data Source=DESKTOP-VRA4PBR\SQLEXPRESS;Initial Catalog=MRPS;Integrated Security=SSPI;"/>-->
  </connectionStrings>
</configuration>